* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Elms Sans", sans-serif;
}

body {
    /* background-color: #FFFBEF; */
    background-color: #FFFFFF;
}

.box {
    width: 100%;
    margin: auto;
}

.section-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(./04-assets/H-1.png);
    padding-top: 30px;
    background-size: cover;
}

/* NAVBAR */
.navbar {
    width: 95%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.453);
    background-color: rgb(254, 248, 241);
    padding: 0 15px;
    overflow: visible;
    border-radius: 30px;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo img {
    height: 45px;
    /* control by height, not width */
    width: auto;
    object-fit: contain;
}

/* MENU */
.menu {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
}

.menu li {
    position: relative;
}

.menu a {

    text-decoration: none;
    color: black;
    font-weight: 500;
}

/* DROPDOWN */

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    list-style: none;
    width: 150px;
    /* z-index: 1; */
}

.dropdown-content li {
    padding: 8px 10px;
}

/*
.dropdown-content li:hover{
    background-color: rgba(6, 122, 239, 0.801);
}
*/
.dropdown:hover .dropdown-content {
    display: block;
}

/* BUTTONS */
.btn-s {
    display: flex;
    gap: 10px;
}

.btn-s button {
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.signin {
    background-color: black;
    color: white;
}

.lang {
    background-color: gray;
    color: white;
}

/* HAMBURGER */
.hamburger {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

/* Hide checkbox */
#menu-toggle {
    display: none;
}

/* /section - 4  */
.section-2 {
    width: 100%;
    height: 100vh;
    /* border: 1px solid #000; */
    padding: 50px;

    /*
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 55px;
    */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px 500px;
    grid-template-areas: "card-1 card-1 card-1 card-1"
        "card-2 card-3 card-4 card-5";
    gap: 25px;

    align-content: center;
}

.section-2 .card {

    padding: 25px;
    /* border: 1px solid #000; */
}

.section-2 .card-1 {
    grid-area: card-1;
    text-align: center;
    align-content: center;
    /* border: 1px solid #000; */


}

.section-2 .card-2 {
    grid-area: card-2;

    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card img {
    width: 90%;

}

.card .area {
    width: 90%;
    /* border: 1px solid #000; */
}

.card:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.315);
}

.card h2 {
    margin: 8px 0px;
    color: orange;
}

.card p {
    text-align: inherit;
    font-size: 14px;
}

.section-2 .card-3 {
    grid-area: card-3;

    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-2 .card-4 {
    grid-area: card-4;

    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-2 .card-5 {
    grid-area: card-5;

    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* section - 3 information area  */
.section-3 {
    width: 100%;
    min-height: 100vh;
    padding: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contetnt {
    width: 95%;
    height: 110vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.124);
    background-color: white;
    /* border: 1px solid #000; */
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
}

/* for the navigation button purpose  */
.content-1 {
    padding-left: 5px;
    width: 100%;
    min-height: 40px;
    /* border: 1px solid #000; */

    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

.content-1 button {
    padding: 4px;
    width: 95px;
    border: 1px solid #00000070;
    background: none;
    border-radius: 15px;
}

.content-1 button a {
    color: #5a5959;
    text-decoration: none;
}

.content-1 button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 7px #D0F34E;
    background-color: #D0F34E;
}

.content-1 button a:hover {
    color: black;

}

/* short information here  */
.content-2 {
    width: 100%;
    min-height: 300px;
    /* border: 1px solid #000; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.content-2 .content-img {
    width: 30%;
    /* border: 1px solid #000; */
    padding: 30px;
}

.content-img ul li {
    list-style: square;
    line-height: 40px;
}

.content-2 .content-info {
    width: 70%;
    padding: 0px 8px;
    /* border: 1px solid #ff0000; */
}

.content-info h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    word-spacing: 2px;
    text-align: start;
}

.content-info p {
    margin-top: 15px;
    text-align: start;
    word-spacing: 3px;
}

.content-2 button {
    margin-top: 15px;
    padding: 4px;
    width: 95px;
    border: 1px solid #00000070;
    background: none;
    border-radius: 15px;
}

.content-2 button a {
    color: #5a5959;
    text-decoration: none;
}

.content-2 button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 7px #D0F34E;
    background-color: #D0F34E;
}

.content-2 button a:hover {
    color: black;

}

/* information card here  */
.content-3 {
    width: 100%;
    min-height: 280px;
    /* border: 1px solid #000; */

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.content-3 .c-card-i {
    width: 20%;
    min-height: 200px;
    /* border: 1px solid #000; */
}

.c-card-i img {
    width: 100%;
    min-height: 200px;
    border-radius: 20px;
}

.content-3 .c-card-1 {
    padding: 10px 8px;
    width: 20%;
    height: 230px;
    background-color: #F1F1F1;
    border-radius: 20px;
    /* border: 1px solid #000; */

    transition: 0.3s linear;
}

.c-card-1:hover {
    transform: scale(1.1);
}

.c-card-1 h1 {
    font-size: 42px;
}

.c-card-1 h5 {
    margin-top: 5px;
    font-weight: bold;
}

.c-card-1 p {
    margin: 8px 0px;
    font-size: 14px;
}

.c-card-1 a {
    text-decoration: none;
    color: black;
}

.c-card-1 i {
    margin-top: 5px;
    font-size: 32px;
}

/* footer area  */


.section-footer {
    border: 1px solid #000;
    background-color: #103120;
    min-height: 180px;
}

.section-footer h5 {
    text-align: center;
    margin-top: 25px;
    color: white;
    font-weight: lighter;
}

.footer {
    width: 100%;
    min-height: 120px;
    padding: 20px;
    background-color: #214b35;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer .icons {
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.icons i {
    color: white;
    font-size: 32px;
}

.footer .form {
    width: 80%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.form input {
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}

.form button {
    padding: 6px;
    border: none;
    border-radius: 5px;
}

.form button:hover {
    border: 2px solid #00000063;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.411);
}

.form a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.form h4 {
    font-size: 18px;
    font-weight: lighter;
    color: white;
}

@media screen and (orientation: landscape) and (max-width: 950px) {

    /* Your styles here */
    .section-2 {
        height: 430vh;
        /* padding: 25px; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 70px 700px 700px;
        grid-template-areas: "card-1 card-1"
            "card-2 card-3"
            "card-4 card-5";

    }

    .card {
        border: 2px solid #00000037;
        border-radius: 0px 0px 50px 0px;
        width: 100%;
        height: 700px;
    }

    .card-1 {
        grid-area: card-1;
    }

    .card-2 {
        grid-area: card-2;
    }

    .card-3 {
        grid-area: card-3;
    }

    .card-4 {
        grid-area: card-4;
    }

    .card-5 {
        grid-area: card-5;
    }

    /* section - 3 */
    .section-3 {
        /* border: 1px solid #000; */
        width: 100%;
        min-height: 290vh;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contetnt {
        width: 95%;
        height: 250vh;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.124);
        background-color: white;
        /* border: 1px solid #000; */
        padding: 10px;


    }

    /* for the navigation button purpose  */
    .content-1 {
        padding-left: 5px;
        width: 100%;
        min-height: 20px;
        /* border: 1px solid #000; */

        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .content-1 button {
        padding: 2px;
        width: 60px;
        font-size: 8px;
    }

    /* short information here  */
    .content-2 {
        min-height: 100px;
        /* border: 1px solid #000; */

    }

    .content-2 .content-img {
        /* border: 1px solid #000; */
        padding: 10px;
    }

    .content-img ul li {
        font-size: 10px;
        line-height: 12px;
    }

    .content-2 .content-info {
        width: 70%;
        padding: 0px 8px;
        /* border: 1px solid #ff0000; */
    }

    .content-info h3 {
        font-size: 10px;
        font-weight: bold;
        line-height: 12px;
    }

    .content-info p {
        font-size: 10px;
    }

    .content-2 button {
        padding: 2px;
        width: 60px;
        font-size: 8px;
    }

    /* information card here  */
    .content-3 {
        width: 100%;
        padding: 10px;
        min-height: 500px;
        /* border: 1px solid #000; */

        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 300px 300px;
        grid-template-areas: "card-1 card-2"
        "card-3 card-4";
        align-items: center;
        justify-content: center;
    }

    #card-1{
        grid-area: card-1;
    }
    #card-2{
        grid-area: card-2;
    }
    #card-3{
        grid-area: card-3;
    }
    #card-4{
        grid-area: card-4;
    }
    .content-3 .c-card-i {
        width: 80%;
        /* border: 1px solid #000; */
    }


    .content-3 .c-card-1 {
        padding: 10px 8px;
        width: 80%;

    }
}

/* MOBILE RESPONSIVE */

@media only screen and (max-width: 768px) {

    .hamburger {
        display: block;
    }

    .menu {
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background: white;
        flex-direction: column;
        display: none;
        padding: 15px 0;
        border-top: 1px solid #ccc;

    }

    #menu-toggle:checked~.menu {
        display: flex;
        padding-left: 12px;
        align-items: start;
    }

    .btn-s {

        display: none;
    }

    .menu li {
        padding: 10px 0;
        text-align: start;
    }

    .dropdown-content {
        position: static;
        border: none;
    }

    .dropdown:hover .dropdown-content {
        display: block;
        padding-left: 5px;
        border-radius: 5px;
        background-color: #cccccc50;
        border: 2px solid #00000085;
    }

    .section-2 {
        height: 300vh;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-1 {
        width: 100%;
        height: 80px;
    }

    .card-1 h1 {
        font-size: 24px;
    }

    .card {
        border: 2px solid #00000037;
        border-radius: 0px 0px 50px 0px;
        width: 100%;
        height: 700px;
    }

    .card p {
        text-align: inherit;
        font-size: 14px;
    }

    /* section - 3 */
    .section-3 {
        /* border: 1px solid #000; */
        width: 100%;
        min-height: 140vh;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contetnt {
        width: 95%;
        height: 170vh;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.124);
        background-color: white;
        /* border: 1px solid #000; */
        padding: 10px;


    }

    /* for the navigation button purpose  */
    .content-1 {
        padding-left: 5px;
        width: 100%;
        min-height: 20px;
        /* border: 1px solid #000; */

        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .content-1 button {
        padding: 2px;
        width: 60px;
        font-size: 8px;
    }

    /* short information here  */
    .content-2 {
        min-height: 100px;
        /* border: 1px solid #000; */

    }

    .content-2 .content-img {
        /* border: 1px solid #000; */
        padding: 10px;
    }

    .content-img ul li {
        font-size: 10px;
        line-height: 12px;
    }

    .content-2 .content-info {
        width: 70%;
        padding: 0px 8px;
        /* border: 1px solid #ff0000; */
    }

    .content-info h3 {
        font-size: 10px;
        font-weight: bold;
        line-height: 12px;
    }

    .content-info p {
        font-size: 10px;
    }

    .content-2 button {
        padding: 2px;
        width: 60px;
        font-size: 8px;
    }

    /* information card here  */
    .content-3 {
        width: 100%;
        padding: 10px;
        min-height: 340px;
        /* border: 1px solid #000; */

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        justify-content: space-evenly;

    }

    .content-3 .c-card-i {
        width: 80%;
        /* border: 1px solid #000; */
    }


    .content-3 .c-card-1 {
        padding: 10px 8px;
        width: 80%;

    }

    .c-card-1:hover {
        transform: none;
    }


    /* footer  */
    .icons i {
        color: white;
        font-size: 28px;
    }

    .form {
        flex-direction: column;
    }

}