
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* outline  */
/*
.box{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
}
*/

/* navbar  */
.navbar{
    border: 1px solid #ff880063;
}
