* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Elms Sans", sans-serif;
}

body {
    background-color: #FFFBEF;
}

.box {
    width: 100%;
    margin: auto;
}

.section-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(./04-assets/H-1.png);
    padding-top: 30px;
    background-size: cover;
}

/* NAVBAR */
.navbar {
    width: 95%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.453);
    background-color: rgb(254, 248, 241);
    padding: 0 15px;
    overflow: visible;
    border-radius: 30px;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo img {
    height: 45px;
    /* control by height, not width */
    width: auto;
    object-fit: contain;
}

/* MENU */
.menu {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
}

.menu li {
    position: relative;
}

.menu a {

    text-decoration: none;
    color: black;
    font-weight: 500;
}

/* DROPDOWN */

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    list-style: none;
    width: 150px;
    z-index: 1;
}

.dropdown-content li {
    padding: 8px 10px;
}

/*
.dropdown-content li:hover{
    background-color: rgba(6, 122, 239, 0.801);
}
*/
.dropdown:hover .dropdown-content {
    display: block;
}

/* BUTTONS */
.btn-s {
    display: flex;
    gap: 10px;
}

.btn-s button {
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.signin {
    background-color: black;
    color: white;
}

.lang {
    background-color: gray;
    color: white;
}

/* HAMBURGER */
.hamburger {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

/* Hide checkbox */
#menu-toggle {
    display: none;
}

/* /section - 4  */
.section-2 {
    width: 100%;
    height: 100vh;
    border: 1px solid #000;
    padding: 50px;

    /*
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 55px;
    */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px 500px;
    grid-template-areas: "card-1 card-1 card-1 card-1"
        "card-2 card-3 card-4 card-5";
    gap: 25px;

    align-content: center;
}

.section-2 .card {

    padding: 25px;
    /* border: 1px solid #000; */
}

.section-2 .card-1 {
    grid-area: card-1;
    text-align: center;
    align-content: center;
    /* border: 1px solid #000; */


}

.section-2 .card-2 {
    grid-area: card-2;

    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card img {
    width: 90%;

}

.card .area {
    width: 90%;
    /* border: 1px solid #000; */
}
.card:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.315);
}
.card h2 {
    margin: 8px 0px;
    color: orange;
}

.card p {
    text-align: inherit;
    font-size: 14px;
}

.section-2 .card-3 {
    grid-area: card-3;

    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-2 .card-4 {
    grid-area: card-4;

    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-2 .card-5 {
    grid-area: card-5;

    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* MOBILE RESPONSIVE */

@media only screen and (max-width: 768px) {

    .hamburger {
        display: block;
    }

    .menu {
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background: white;
        flex-direction: column;
        display: none;
        padding: 15px 0;
        border-top: 1px solid #ccc;
        z-index: 1;
    }

    #menu-toggle:checked~.menu {
        display: flex;
        padding-left: 12px;
        align-items: start;
    }

    .btn-s {

        display: none;
    }

    .menu li {
        padding: 10px 0;
        text-align: start;
    }

    .dropdown-content {
        position: static;
        border: none;
    }

    .dropdown:hover .dropdown-content {
        display: block;
        padding-left: 5px;
        border-radius: 5px;
        background-color: #cccccc50;
        border: 2px solid #00000085;
    }

    .section-2 {
        height: 300vh;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-1 {
        width: 100%;
        height: 80px;
    }

    .card-1 h1 {
        font-size: 24px;
    }

    .card {
        border: 2px solid #00000037;
        border-radius: 0px 0px 50px 0px;
        width: 100%;
        height: 700px;
    }

    .card p {
        text-align: inherit;
        font-size: 14px;
    }

}