* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 150px;
  border: 1px solid #000;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 80px min-content min-content min-content;
  grid-template-areas:
    "header"
    "about-us"
    "why-choose-us"
    "footer";
}
.container .header {
  grid-area: header;
}

/* about us page code */
.container .about-us {
  width: 100%;
  height: 100vh;
  grid-area: about-us;
  position: relative;
  overflow: hidden;
}

.container .about-us::before {
  content: "";
  position: absolute;
  inset: 0;

  filter: blur(1.3px);
  transform: scale(1.03);
  z-index: 1;
  -webkit-filter: blur(1.3px);
}
.about-us .we-are {
  z-index: 2;
  width: 80%;
  margin: auto;
}
.about-us .we-are span {
  font-size: 1.8em;
  color: orange;
}
.about-us .heading-div h1 {
  font-size: 3em;
}
.about-us .heading-div span {
  color: green;
  font-size: 1em;
}
.about-us .btn-about {
  margin-top: 25px;
}
.about-us .we-are p {
  line-height: 1.8;
  width: 50%;
  margin-top: 12px;
}
.about-us .btn-about a {
  text-decoration: none;
  font-size: 1.2em;
  padding: 12px;
  font-weight: bold;
  margin-right: 25px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
/* vegitable img */
.about-us .veg-img {
  position: absolute;
  width: 350px;
  height: 350px;
  right: 15%;
  top: 5%;
  z-index: 2;
}
.about-us .veg-img img {
  width: 100%;
  height: 100%;
}
/* bottom div of about us page */
.about-us .about-bottom-div {
  width: 80%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid #000; */
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
 box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
 background-color: white;
}
.about-us .about-bottom-div:hover
{
   box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
.container .why-choose-us {
  grid-area: why-choose-us;
}
.container .footer {
  grid-area: footer;
}
