* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  min-height: 150px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: min-content min-content min-content min-content;
  grid-template-areas:
    "header"
    "about-us"
    "why-choose-us"
    "footer";
    overflow-y: hidden;
}

/* nav bar  */
.container .header {
  grid-area: header;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* nav bar code */

/* about us page code */
.container .about-us {
  width: 80%;
  margin: auto;
  grid-area: about-us;
  /* position: relative; */
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: min-content min-content;
  grid-template-areas: "we-are veg-img"
  "about-bottom-div about-bottom-div";
  gap: 8px;
  margin-bottom: 20px;
}

/* heading in about us page */
.about-us .we-are {
  margin: auto;
  grid-area: we-are;
  /* border: 1px solid #000; */
  padding: 8px;
  margin: auto;
}

.about-us .we-are span {
  font-size: 2em;
  color: orange;
  font-family: "Dancing Script", cursive;
}

.about-us .heading-div h1 {
  font-size: 3em;
}

.about-us .heading-div span {
  color: green;
  font-size: 1em;
  font-family:
    acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* bottom buttons in heading */
.about-us .btn-about {
  margin-top: 25px;
  margin-bottom: 35px;
}

.about-us .we-are p {
  line-height: 1.8;
  width: 50%;
  margin-top: 12px;
}

.about-us .btn-about a {
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  padding: 8px 15px;
  font-weight: bold;
  margin-right: 25px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.btn-about a:hover {
  padding: 10px 15px;
  color: black;
  background-color: white;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

/* vegitable img */
.about-us .veg-img {
  width: 25em;
  height: 31em;
  grid-area: veg-img ;
  /* border: 1px solid #000; */
  padding: 5px;
}

.about-us .veg-img img {
  width: 100%;
  height: 100%;
}

/* bottom div of about us page */
.about-us .about-bottom-div {
  display: flex;
  padding: 8px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* border: 1px solid #000; */
  box-shadow:
    rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: white;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  grid-area: about-bottom-div;
  gap: 8px;
}

.about-us .about-bottom-div:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.about-us .about-bottom-div .box {
  flex-basis: 25%;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.about-bottom-div .box .icon-btm {
  height: 50px;
  width: 80px;
  margin-left: 10px;
  /* border: 1px solid #000; */
}

.about-bottom-div .box .icon-btm h4 {
  font-weight: 100;
}

.about-bottom-div .box .icon-btm img {
  width: 100%;
  height: 100%;
}

.about-bottom-div .box span {
  font-size: 1.2em;
}

.about-bottom-div .box p {
  color: rgb(97, 97, 97);
  font-size: 0.8em;
  margin-top: 5px;
  line-height: 1.5;
}
.about-bottom-div .box .btm-content
{
  flex-basis: 50%;
}
#prod {
  font-weight: bold;
}

/* why choose us */

.container .why-choose-us {
  grid-area: why-choose-us;
  background-color: #fffdeb;
}

.rows-1 {
  width: 80%;
  margin: auto;
}

.why-choose-us .why-title {
  margin-top: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2;
  width: 80%;
  margin: auto;
}

.why-choose-us .why-title p {
  color: orange;
  font-family: "Caveat", cursive;
  font-size: 1.6em;
  margin: auto;
  text-align: center;
}

.rows-2 {
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  flex-basis: 33%;
  gap: 10px;
  margin-bottom: 20px;
}

.why-box {
  display: flex;
  flex-direction: column;
}

.why-choose-us .why-1 {
  display: flex;
  flex-basis: 37%;
}

.rows-2 .inner-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
   /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.rows-2 .inner-row:hover {
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   background-color: white;
}
.inner-row .why-content {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 1.5;
}

.inner-row .why-content h3 {
  text-align: end;
}

.inner-row .why-content p {
  text-align: end;
  margin: auto;
  font-size: 1em;
}

.inner-row .why-content-img {
  height: 80px;
  width: 180px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(55, 181, 55);
}

.inner-row .why-content-img i {
  font-size: 2em;
  color: white;
}


.why-choose-us .why-2 {
  flex-basis: 37%;
}

.why-2 .inner-row p {
  text-align: start;
  text-align: justify;
  line-height: 1.5;
}

.why-choose-us .why-img {
  flex-basis: 25%;
  object-fit: cover;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.why-choose-us .why-img img {
  /* border: 1px solid #000; */
  width: 100%;
  height: 100%;
}

.inner-row .why-content p {
  font-size: 0.8em;
}

.inner-row .why-content h3 {
  font-size: 1.2em;
}

.why-2 .inner-row h3 {
  text-align: start;
}
@media only screen  and (max-width:420px) {
  .container .about-us {
  width: 100%;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: min-content min-content;
  grid-template-areas: "we-are"
  "about-bottom-div";
}
.veg-img{
  display: none;
}
  .about-us .we-are{
    width: 100%;
  }
  .heading-div{
    width: 100%;
  }
  .about-us .heading-div h1 {
    font-size: 2em;
  }
  .about-us .heading-div span{
    font-size: 1.2em;
  }
  .about-us .we-are .btn-about{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .about-us .we-are p {
    width: 100%;
    font-size: 1.1em;
  }
  .about-us .btn-about a 
  {
    margin-bottom: 10px;
  }
  .about-bottom-div .box .icon-btm h4{
    font-size: 1.5em;
    line-height: 1.5;
  }
  .about-bottom-div .box p{
    font-size: 1.2em;
    width: 100%;
  }

  /* why choose us */
  .why-box .inner-row p
  {
    font-size: 1.6em;
  }
  .rows-2 .why-box .why-content h3
  {
    font-size: 1.5em;
  }
  .why-box .inner-row p
  {
    font-size: 1.2em;
  }
}
@media only screen and (max-width:768px){
  .container .about-us {
  width: 80%;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: min-content min-content;
  grid-template-areas: "we-are"
  "about-bottom-div";
}
.about-us .we-are
{
  width: 80%;
}
  .about-us .veg-img
  {
    display: none;
  }
  .about-us .about-bottom-div 
  {
    flex-direction: column;
    width: 60%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .box
  {
    align-items: center;
    justify-content: center;
  }

  /* why choose us */
  /* heading row */
  .rows-1
  {
    width: 100%;
  }

  /* second row */
  .rows-2 
  {
    flex-direction: column;
    width: 100%;
  }
  .why-img
  {
    width: 90%;
    height: 50px;
    border: 1px solid #000;
  }
  .why-box .inner-row
  {
    width: 90%;
    margin: auto;
    gap: 10px;
    margin-bottom: 20px;
  }
  .about-bottom-div .box .icon-btm h4 {
    font-size: 1.5em;
  }
   .about-bottom-div .box p{
    font-size: 1.2em;
  }

    .why-box .inner-row p
  {
    font-size: 1.6em;
  }
  .rows-2 .why-box .why-content h3
  {
    font-size: 1.6em;
  }
  .why-box .inner-row p
  {
    font-size: 1.3em;
  }
}
@media only screen and (max-width:980px){
  .container .about-us 
  {
    width: 100%;
  }
  .about-us .about-bottom-div
  {
    width: 98%;
  }
  .about-us .we-are 
  {
    width: 80%;
    margin: auto;
  }
  .about-us .we-are p
  {
    width: 80%;
  }
  .we-are .btn-about
  {
    width: 100%;
  } 
  .about-us .btn-about a {
    margin-right: 4px;
  }
}
.container .section-footer {
  grid-area: footer;
}