*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container
{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-areas:  "header"
    "content"
    "blogs"
    "footer";
}
.container .header
{
    grid-area: header;
    background-color: blanchedalmond;
    margin-top: 20px;
}
.container .content
{
    grid-area: content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-image: url(../04-assets/blog-img/Wheat\ fields.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.content .content-famer
{
 padding: 5px;
 flex-basis: 60%;
 min-height: 350px;
 /* border: 1px solid #000; */
 border-radius: 25px;
 backdrop-filter: blur(3px);
 -webkit-border-radius: 25px;
 -moz-border-radius: 25px;
 -ms-border-radius: 25px;
 -o-border-radius: 25px;
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.content .content-famer h1
{
    color: white;
    width: 40%;
    font-size: 2.2em;
}
.content .content-famer p
{
    color: white;
    line-height: 1.5;
    margin-top: 15px;
    width: 80%;
    font-size: 1.2em;
    margin-bottom: 25px;
}
.content .content-famer a
{
    text-decoration: none;
    background-color: orange;
    padding: 8px 8px ;
    width: 150px;
    margin-top: 8px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: black;
    font-size: 1.1em;
    text-align: center;
}
.content-famer a:hover
{
   box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.content .seed-img
{
    /* border: 1px solid #000; */
    flex-basis: 15%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
     backdrop-filter: blur(3px);
}
.content .seed-img img
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.blogs .latest-title
{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.latest-title a
{
    text-decoration: none;
    color: rgb(25, 123, 25);
    width: 120px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    background-color:rgb(204, 205, 206);
    font-size: 1.2em;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
/* .blogs .blog-post
{
    display: flex;
    gap: 8px;
    width: 80%;
    margin: auto;
    margin-top: 15px;
} */
 .container .blogs
{
    grid-area: blogs;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
   
}
.blog-post
{
    display: grid;
     grid-template-columns: repeat(4,1fr);
    grid-template-rows: min-content min-content min-content;
    grid-template-areas: "box-1 box-2 box-3 box-4"
    "box-5 box-6 box-7 box-8"
    "box-9 box-10 box-11 box-12";
    gap: 10px;
}
.blogs .box
{
    min-height: 200px;
    border: 1px solid #000;
    /* flex-basis: 50%; */
    display: flex;
     flex: 1 1 calc(33.33% - 10px);
    gap: 7px;
    flex-direction: column;
    padding: 8px;
}
.box .box-img
{
    position: relative;
    height: 150px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.box .box-owner p
{
    color: rgb(86, 86, 86);
    text-align: end;
}
.box .box-owner p i
{
    color: green;
}
.box .box-title h3
{
    font-weight: 300;
}
.box .box-img a
{
    position: absolute;
    text-decoration: none;
    top: 7%;
    left: 5%;
    color: rgb(102, 101, 101);
    background-color: white;
    padding: 8px;
    width: 70px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.box .box-img img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.box-1
{
    grid-area: box-1;
}
.box-2
{
    grid-area: box-2;
}
.box-3
{
    grid-area: box-3;
}
.box-4
{
    grid-area: box-4;
}
.box-5
{
    grid-area: box-5;
}
.box-6
{
    grid-area: box-6;
}
.box-7
{
    grid-area: box-7;
}
.box-8
{
    grid-area: box-8;
}
.box-9
{
    grid-area: box-9;
}
.box-10
{
    grid-area: box-10;
}
.box-11
{
    grid-area: box-11;
}
.box-12
{
    grid-area: box-12;
}
.container .footer
{
    grid-area: footer;
}