* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.section-1 {
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding-top: 10px;
    background-size: cover;

}

/* NAVBAR */
.navbar {
    width: 95%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.453);
    background-color: rgb(254, 248, 241);
    padding: 0 15px;
    overflow: visible;
    border-radius: 30px;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo img {
    height: 45px;
    /* control by height, not width */
    width: auto;
    object-fit: contain;
}

/* MENU */
.menu {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
}

.menu li {
    position: relative;
}

.menu a {

    text-decoration: none;
    color: black;
    font-weight: 500;
}

/* DROPDOWN */

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    list-style: none;
    width: 150px;
    /* z-index: 1; */
}

.dropdown-content li {
    padding: 8px 10px;
}

/*
.dropdown-content li:hover{
    background-color: rgba(6, 122, 239, 0.801);
}
*/
.dropdown:hover .dropdown-content {
    display: block;
}

/* BUTTONS */
.btn-s {
    display: flex;
    gap: 10px;
}

.btn-s button {
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.signin {
    background-color: black;
    color: white;
}

.lang {
    background-color: gray;
    color: white;
}

/* HAMBURGER */
.hamburger {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

/* Hide checkbox */
#menu-toggle {
    display: none;
}



/* forme of sign-up */

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #ff0000; */
}

.container .loginForm {
    width: 30%;
    min-height: 60vh;
    border: 5px solid #3f3e3e71;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    gap: 15px;

    transition: 0.3s linear;
}

.loginForm:hover {
    border: none;
    box-shadow: 0px 0px 15px rgba(41, 41, 41, 0.558);
    transform: scale(1.01);
}

.loginForm a {
    color: #0000ff;
    text-decoration: none;
}

.loginForm img {
    width: 50%;
}

.loginForm input {
    padding: 5px;
    width: 80%;
}

.loginForm button {
    padding: 5px;
    width: 320px;
    background-color: #D0F34E;
    border: 1px solid #00000070;

    color: #5a5959;
}

/* footer area  */
.section-footer {
    border: 1px solid #000;
    background-color: #103120;
    min-height: 180px;
}

.section-footer h5 {
    text-align: center;
    margin-top: 25px;
    color: white;
    font-weight: lighter;
}

.footer {
    width: 100%;
    min-height: 120px;
    padding: 20px;
    background-color: #214b35;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer .icons {
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.icons i {
    color: white;
    font-size: 32px;
}

.footer .form {
    width: 80%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.form input {
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}

.form button {
    padding: 6px;
    border: none;
    border-radius: 5px;
}

.form button:hover {
    border: 2px solid #00000063;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.411);
}

.form a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.form h4 {
    font-size: 18px;
    font-weight: lighter;
    color: white;
}


@media screen and (orientation: landscape) and (max-width: 950px) {

    /* form sign-up  */
    .container {
        height: 120vh;
    }

    .container .loginForm {
        height: 100vh;
        width: 50%;
        min-height: 0vh;
    }

    .loginForm button {
        width: 210px;
    }
}


/* MOBILE RESPONSIVE */

@media only screen and (max-width: 768px) {

    /* navbar  */
    .hamburger {
        display: block;
    }

    .menu {
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background: white;
        flex-direction: column;
        display: none;
        padding: 15px 0;
        border-top: 1px solid #ccc;

    }

    #menu-toggle:checked~.menu {
        display: flex;
        padding-left: 12px;
        align-items: start;
    }

    .btn-s {

        display: none;
    }

    .menu li {
        padding: 10px 0;
        text-align: start;
    }

    .dropdown-content {
        position: static;
        border: none;
    }

    .dropdown:hover .dropdown-content {
        display: block;
        padding-left: 5px;
        border-radius: 5px;
        background-color: #cccccc50;
        border: 2px solid #00000085;
    }

    /* navbar end  */

    /* form sign-up  */
    .container .loginForm {
        min-height: 40vh;
    }

    .loginForm button {
        width: 210px;
    }


    /* login form here  */
    .container .loginForm {
        width: 70%;
    }

    /* section - 4      */
    .choice i {
        font-size: 5em;
    }

    /* footer  */
    .icons i {
        color: white;
        font-size: 28px;
    }

    .form {
        flex-direction: column;
    }
}