* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  background-color: white;
    color: #333;
}



/* navbar area  */
.section-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top:5px;
    padding-bottom: 10px;
}

/* NAVBAR */
.navbar {
    width: 95%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.453);
    background-color: rgb(254, 248, 241);
    padding: 0 15px;
    overflow: visible;
    border-radius: 30px;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo img {
    height: 45px;
    /* control by height, not width */
    width: auto;
    object-fit: contain;
}

/* MENU */
.menu {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
}

.menu li {
    position: relative;
}

.menu a {

    text-decoration: none;
    color: black;
    font-weight: 500;
}

/* DROPDOWN */

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    list-style: none;
    width: 150px;
    /* z-index: 1; */
}

.dropdown-content li {
    padding: 8px 10px;
}

/*
.dropdown-content li:hover{
    background-color: rgba(6, 122, 239, 0.801);
}
*/
.dropdown:hover .dropdown-content {
    display: block;
}

/* BUTTONS */
.btn-s {
    display: flex;
    gap: 10px;
}

.btn-s button {
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.signin {
    background-color: black;
    color: white;
}

.lang {
    background-color: gray;
    color: white;
}

/* HAMBURGER */
.hamburger {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

/* Hide checkbox */
#menu-toggle {
    display: none;
}

.container {
    width: 90%;
    margin: auto;
    padding: 30px 0;
}

.section {
    margin-bottom: 40px;
}

.section h2 {
    color: #2e7d32;
    margin-bottom: 10px;
}

.row {
    display: flex;
    gap: 25px;
    align-items: center;
}

.row img {
    width: 40%;
    border: 1px solid #ccc;
}

.row .text {
    width: 60%;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 15px;
    border: 1px solid #ddd;
    width: 33%;
    text-align: center;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

footer {
    background: #2e7d32;
    color: white;
    text-align: center;
    padding: 15px;
}



@media only screen and (max-width: 768px) {
    .layout{
        min-height: 90vh;
    }

    /* navbar  */
    .hamburger {
        display: block;
    }

    .menu {
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background: white;
        flex-direction: column;
        display: none;
        padding: 15px 0;
        border-top: 1px solid #ccc;

    }

    #menu-toggle:checked~.menu {
        display: flex;
        padding-left: 12px;
        align-items: start;
    }

    .btn-s {

        display: none;
    }

    .menu li {
        padding: 10px 0;
        text-align: start;
    }

    .dropdown-content {
        position: static;
        border: none;
    }

    .dropdown:hover .dropdown-content {
        display: block;
        padding-left: 5px;
        border-radius: 5px;
        background-color: #cccccc50;
        border: 2px solid #00000085;
    }
    /* navbar end  */
    .row{
            flex-direction:column;
        }

        .row img,
        .row .text{
            width:100%;
        }

        .cards{
            flex-direction:column;
        }

        .card{
            width:100%;
        }
}